<h1>top</h1>

<a href="/search">検索へ</a><br>
<a href="/mypage">マイページへ</a><br>
<a href="/new_user">新規登録</a><br>

<a href="/create">Aim新規作成</a><br>
<a href="/aim">Aimページ</a><br>
<a href="/aim_edit">Aim編集ページ</a><br>

<a href="/terms">利用規約</a><br>
<a href="/query">お問い合わせ</a><br>

<a href="/account_delete">アカウント削除</a><br>
<a href="/password_forget">パスワードを忘れた方</a><br>