<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>

<ul>
  <% @aim.each do |aim| %>
    <div class="aim_wrap" id="">
      <a href="/aim/<%= aim.id %>">
        <li><%= aim.title %></li>
      </a>
    </div>
  <% end %>
</ul>
