<%= stylesheet_link_tag 'aim_room', media: 'all' %>
<%= javascript_pack_tag 'aim_init_room' %>

<%= react_component("AssetPathResolver") %>

<div 
  data-react-class="AimRoom" 
  data-react-props="<%= {
    back: asset_path('aimroom/item/bg0.png'),
    desk: asset_path('aimroom/item/desk0.png'),
    chara: asset_path('aimroom/item/chara0.png'),
    music1: asset_path('aimroom/item/music01.mp3'),
    music2: asset_path('aimroom/item/music02.mp3'),

    shop_icon: asset_path('aimroom/icons/shop.png'),
    bag_icon: asset_path('aimroom/icons/bag.png'),
    gacha_icon: asset_path('aimroom/icons/Gacha.png'),
    mission_icon: asset_path('aimroom/icons/mission.png'),
    money_icon: asset_path('aimroom/icons/money.png'),

    boad: asset_path('aimroom/item/boad.png'),


    play_button: asset_path('aimroom/icons/music/play-button.png'),
    pause_button: asset_path('aimroom/icons/music/pause-button.png'),
    next_button: asset_path('aimroom/icons/music/next-button.png'),
    prev_button: asset_path('aimroom/icons/music/prev-button.png'),

    item_modal_bg: asset_path('aimroom/bg/bag_modal1.png'),
    item_modal_bg2: asset_path('aimroom/bg/bag_modal2.jpg'),
    close: asset_path('aimroom/icons/close.png'),

    gacha_backgroud: asset_path('aimroom/bg/bg1.png'),
    gacha_thumbnail1: asset_path('aimroom/Gacha/gacha_thumbnail1.png'),
    gacha_thumbnail2: asset_path('aimroom/Gacha/gacha_thumbnail2.png'),
    get_icon: asset_path('aimroom/Gacha/get.png'),
    getModal1: asset_path('aimroom/bg/getModal1.jpeg'),
    getModal2: asset_path('aimroom/bg/getModal2.jpeg'),
    getModal3: asset_path('aimroom/bg/getModal3.jpg'),

    gachaAnime: asset_path('aimroom/Gacha/gachaAnime612x612.png'),
    pipo: asset_path('aimroom/Gacha/pipo.png'),
    pipofm: asset_path('aimroom/Gacha/pipofm.png'),

    check_icon: asset_path('aimroom/icons/check.png')

  }.to_json %>"
></div>