<%= stylesheet_link_tag 'aim_room', media: 'all' %>
<%= javascript_pack_tag 'aim_init_room' %>

<%= react_component("AssetPathResolver") %>

<div 
  data-react-class="AimRoom" 
  data-react-props="<%= {
    back: asset_path('aimroom/item/bg0.png'),
    desk: asset_path('aimroom/item/desk0.png'),
    chara: asset_path('aimroom/item/chara0.png'),
    music1: asset_path('aimroom/item/music01.mp3'),
    music2: asset_path('aimroom/item/music02.mp3'),

    shop_icon: asset_path('aimroom/shop.png'),
    bag_icon: asset_path('aimroom/bag.png'),
    gacha_icon: asset_path('aimroom/Gacha/Gacha.png'),
    mission_icon: asset_path('aimroom/strongbox.png'),
    money_icon: asset_path('aimroom/money/money.png'),

    play_button: asset_path('aimroom/music/play-button.png'),
    pause_button: asset_path('aimroom/music/pause-button.png'),
    next_button: asset_path('aimroom/music/next-button.png'),
    prev_button: asset_path('aimroom/music/prev-button.png'),

    item_modal_bg: asset_path('aimroom/bag/2.png'),
    item_modal_bg2: asset_path('aimroom/bag/1.jpg'),
    close: asset_path('aimroom/close.png'),

    gacha_backgroud: asset_path('aimroom/Gacha/backgroud.png'),
    gacha_thumbnail1: asset_path('aimroom/Gacha/gacha_thumbnail1.png'),
    gacha_thumbnail2: asset_path('aimroom/Gacha/gacha_thumbnail2.png'),
    get_icon: asset_path('aimroom/Gacha/get.png'),
    getModal1: asset_path('aimroom/Gacha/getModal1.jpeg'),
    getModal2: asset_path('aimroom/Gacha/getModal2.jpeg'),
    getModal3: asset_path('aimroom/Gacha/getModal3.jpg'),

    gachaAnime: asset_path('aimroom/Gacha/gachaAnime612x612.png'),
    pipo: asset_path('aimroom/Gacha/pipo-sweetseffect001_480.png'),
    pipofm: asset_path('aimroom/Gacha/pipofm-topen03_480.png'),

    check_icon: asset_path('aimroom/check.png')

  }.to_json %>"
></div>