
<% content_for :title do %>ビジネス<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>

<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<div class="footer_content_wrap">
  <h1>ビジネス詳細</h1>
  <figure>
    <table>
      <tbody>
        <tr>
          <td>提供する商品やサービス</td>
          <td><a href="/pricing">こちら</a>をご確認ください</td>
        </tr>
        <tr>
          <td>取引通貨</td>
          <td>￥●円の形式で提供しております<br>
            詳しくは<a href="/pricing">こちら</a>
            をご確認ください</td>
        </tr>
        <tr>
          <td>カスタマーサービスの連絡先</td>
          <td><a href="/sctl">こちら</a>をご確認ください</td>
        </tr>
        <tr>
          <td>返品 / 返金ポリシー</td>
          <td><a href="/sctl">こちら</a>をご確認ください</td>
        </tr>
        <tr>
          <td>プライバシーポリシー</td>
          <td><a href="/policy">こちら</a>をご確認ください</td>
        </tr>
        <tr>
          <td>利用規約</td>
          <td><a href="/terms">こちら</a>をご確認ください</td>
        </tr>
        <tr>
          <td>特定商取引法に基づく表記</td>
          <td><a href="/sctl">こちら</a>をご確認ください</td>
        </tr>
      </tbody>
    </table>
  </figure>
</div>