<% content_for :title do %>料金/プラン<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>


<div class="wrap">
  <h1>料金表</h1>
  <h2 class="wp-block-heading"><a href="https://buy.stripe.com/test_cN2aHQ8DGbvl492fYY">テスト - 広告の生涯非表示</a></h2>
  <script async="" src="https://js.stripe.com/v3/buy-button.js"></script>
  <stripe-buy-button buy-button-id="buy_btn_1NciQpG97K9Tj2IByictxmjA" publishable-key="pk_test_51Ncda2G97K9Tj2IBfIrViRrt1g344PYlFUNtUmPctc3ff3rCOjtCsXtDZwJeZxg8lH5jJuX8KWPrzn5GWlmwhhOk00Pac9okIO"></stripe-buy-button>
  <figure class="wp-block-image size-large is-resized"><img src="https://rolltall-hack.site/wp-content/uploads/2023/08/image-854x1024.png" alt="" class="wp-image-115" style="width:246px;height:295px" width="246" height="295"/></figure>
</div>
