
<% content_for :title do %>特定商取引法に基づく表記<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>


<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>

<div class="wrap">
  <h1>特定商取引法に基づく表記</h1>
    <figure class="wp-block-table alignwide">
      <table>
        <tbody>
          <tr>
            <td>名称</td>
            <td>Hiroki Hayashi</td>
          </tr>
          <tr>
            <td>所在地</td>
            <td>請求があった場合、遅滞なく開示します</td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>請求があった場合、遅滞なく開示します</td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td>ralltall3333@gmail.com</td>
          </tr>
          <tr>
            <td>運営統括責任者</td>
            <td>Hiroki Hayashi</td>
          </tr>
          <tr>
            <td>追加手数料等の追加料金</td>
            <td>ございません</td>
          </tr>
          <tr>
            <td>交換および返品（返金ポリシー）</td>
            <td>購入後の返金は受け付けていません<br>購入前にアプリまたはサービスの詳細をご確認ください<br>その他の質問や問題については、お問い合わせください</td>
          </tr>
          <tr>
            <td>引渡時期</td>
            <td>注文後すぐにご利用いただけます</td>
          </tr>
          <tr>
            <td>受け付け可能な決済手段</td>
            <td>クレジットカードまたは国内の銀行振込</td>
          </tr>
          <tr>
            <td>決済期間</td>
            <td>クレジットカード決済の場合はただちに<br>処理されますが、国内の銀行振込の場合は<br>注文から 3 日以内にお振り込みいただく必要があります</td>
          </tr>
          <tr>
            <td>販売価格</td>
            <td>商品ページにてご確認ください</td>
          </tr>
        </tbody>
      </table>
    </figure>
  </div>