<% content_for :title do %>利用規約<% end %>
<meta name="robots" content="noindex">
<link href="{{ asset('css/footer.css') }}" rel="stylesheet">

<div class="wrap">
  <h1>利用規約</h1>
  <h2 class="wp-block-heading"><strong>利用条件の受諾</strong></h2>
  <ul><li>本ブログを利用することで、利用者は本利用規約に同意するものとします。</li></ul>
  
  <h2 class="wp-block-heading"><strong>コンテンツの提供</strong></h2>
  <ul><li>ブログのコンテンツは情報提供を目的とし、一般的なガイダンスや情報を含みます。コンテンツは情報提供のみを意味し、法的なアドバイスや専門的な意見ではありません。</li></ul>
  
  <h2 class="wp-block-heading"><strong>著作権と知的財産権</strong></h2>
  <ul><li>ブログのコンテンツは著作権および知的財産権によって保護されています。コンテンツの複製、再配布、変更、商業利用は許可されません。</li></ul>
  
  <h2 class="wp-block-heading"><strong>コメントとコミュニケーション</strong></h2>
  <ul><li>コメントは適切で礼儀正しいものである必要があります。不適切なコメントやスパムは削除される場合があります。</li></ul>
  
  <h2 class="wp-block-heading"><strong>プライバシー</strong></h2>
  <ul><li>プライバシーに配慮し、個人情報の提供は自己責任で行ってください。個人情報は適切に保護されます。</li></ul>
  
  <h2 class="wp-block-heading"><strong>免責事項</strong></h2>
  <ul><li>ブログのコンテンツに基づいて行動する場合、それは利用者自身の責任です。ブログの情報に関連する損害や問題について、ブログ管理者は一切責任を負いません。</li></ul>
  
  <h2 class="wp-block-heading"><strong>利用規約の変更</strong></h2>
  <ul><li>利用規約は予告なしに変更されることがあります。変更内容は本ページで通知されます。</li></ul>
  
  <h2 class="wp-block-heading"><strong>連絡先</strong></h2>
  <ul><li>利用者からのお問い合わせやフィードバックは常に歓迎します。</li></ul>
</div>