<header>
  <div class ="head-wrap">
    <div class ="svg-wrap">
      <div class="Logo-a">
        <a href="/">
          <%= image_tag(s3_asset_path('Logo.svg'), content_type: 'image/svg+xml') %>
        </a>
      </div>
    </div>

    <div class="items">
        <button id="submitButton" class="btn btn-success m-12">公開</button>
    </div>
  </div>
</header>