<button id="header-user-icon-btn">
      <% if current_user.icon_url=="default" %>
            <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="currentColor"/>
            </svg>-->
            <img alt="default_user_icon" src="/default_user_icon.png"  class="user-icon_img">
      <% elsif current_user.icon_url=="custom" %>
            <% if current_user&.user_icon_image.attached? %>
                  <%= image_tag current_user.user_icon_image ,class:"user-icon_img" %>
            <% else %>
                  <!-- アイコンがアップロードされていない場合の代替コードをここに追加 -->
                  <img alt="default_user_icon" src="/default_user_icon.png"  class="user-icon_img">
            <% end %>
      <% elsif current_user.icon_url=="gravatar" %>
            <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=200" alt="User's Gravatar" class="user-icon_img" >
      <% end %>
</button>