<div class="Left">
  <button class="stretch-btn" id="stretch-btn">←</button>
  <button class="stretch-btn-open" id="stretch-btn-open">→</button>

  <div class="Left-content">
    <div class="link-div"><a href="/pricing" class="contact_link">料金/プラン</a></div>
    <div class="link-div"><a href="/business">ビジネス</a></div>
    <div class="link-div"><a href="/sctl">特定商取引法に基づく表記</a></div>
    <div class="link-div"><a href="/policy">プライバシーポリシー</a></div>
    <div class="link-div"><a href="/terms">利用規約</a></div>
    <button class="design-light" id="design-light">デザイン:ライト</button>
    <button class="design-dark" id="design-dark">デザイン:ダーク</button>
    <div class="link-div"><a href="/contact/new" class="contact_link">お問い合わせ</a></div>
    <span class="copyright">Copyright© <%= Date.today.year %> Hiroki Hayashi</span>
  </div>
</div>