<button  class="header-user-icon-btn">
      <% if @this_user.icon_url=="default" %>
            <img alt="default_user_icon" src="/default_user_icon.png"  class="user-icon_img">
      <% elsif @this_user.icon_url=="custom" %>
            <% if @this_user&.user_icon_image.attached? %>
                  <%= image_tag @this_user.user_icon_image ,class:"user-icon_img", alt: "user-icon_img" %>
            <% else %>
                  <!-- アイコンがアップロードされていない場合の代替コードをここに追加 -->
                  <img alt="default_user_icon" src="/default_user_icon.png"  class="user-icon_img">
            <% end %>
      <% elsif @this_user.icon_url=="gravatar" %>
            <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@this_user.email) %>?s=200" alt="User's Gravatar" class="user-icon_img" >
      <% end %>
</button>