<% content_for :title do %>LLM<% end %>
<%= stylesheet_link_tag "top" %>
<%= render 'shared/side-ads' %>
<%= stylesheet_link_tag "llm" %>


<div class="content_wrap">
<button id="delete_btn" class="btn alert-btn">履歴を削除</button>
<div><h2>aimロゴ</h2></div>

    <div class='who'>aim_ai</div>
    <div class='ai_statement statement'>
      こんにちは！これからあなたのやりたいことを一緒に発見し決定していきましょう！手助けになれば幸いです！
    </div>

    <div class="wrap"></div>
    <div class="chat_wrap">
        <textarea type="text" class="input" id="input"></textarea>
        <button id="submit" class="chat_submit_btn" >送信</button>
    </div>
</div>


<script>
let question_num=0;
let question_array = [
  "好きなものや、興味のあるものや、今頭に浮かんだものを1つ教えてください。", 
  "体力に自信がありますか？", 
  "他人とコミュニケーションをとりたい感じですか？"
  ];
let prompt_text="";

function Question(question_num){
    //配列をランダムに並べ替え
    for (let i = question_array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [question_array[i], question_array[j]] = [question_array[j], question_array[i]];
    }
    
    //let randomNumber = Math.floor(Math.random() * 3);//質問の配列の個数だけの乱数を取得
    $(".wrap").append("<div class='who'>aim_ai</div>");
    //$(".wrap").append("<div class='ai_statement statement'>"+randomNumber+question_array[randomNumber]+"</div>");
    $(".wrap").append("<div class='ai_statement statement'>"+question_array[0]+"</div>");
    prompt_text=prompt_text+question_array[0]+":";

    question_array.splice(0, 1);//質問配列から削除
    //question_num++;
    console.log(question_array)
    
}

$(document).ready(function(){
   // ローカルストレージから値を取得
  const llm = localStorage.getItem('llm');
  $(".wrap").html(llm);
  $('html, body').animate({scrollTop:$(document).height()}, 'slow');//一番下までスクロール

  if (localStorage.getItem('question_num') === null) { // 初期値がない場合の処理
   question_num=0;
   Question(question_num);
   question_num++;
} else {// 初期値がある場合の処理
    question_num= localStorage.getItem('question_num');
}
});

$(document).on('click', '.chat_submit_btn', function() {
    
    let input_text=$("#input").val();
    //$(".wrap").html("<div>"+input_text+"</div>");
    $(".wrap").append("<div class='who'>あなた</div>");
    $(".wrap").append("<div class='user_statement statement'>"+input_text+"</div>");
    $("#input").val("")
    console.log(input_text);
    prompt_text=prompt_text+input_text+"。\n\n"
//$(".wrap").append("<div class='who'>question_num: "+question_num+"+prompt_text:"+prompt_text+"</div>");
if(question_num >=3){//質問を3つ以上答えていたら
    $.ajax({
        type: 'POST',
        url: '/ai/generate',
        data: { 
            prompt: prompt_text
            },
        success: (res) => {
          console.log("成功"+res.content)
          $(".wrap").append("<div class='who'>aim_ai</div>");
          $(".wrap").append("<div class='ai_statement statement'>"+res.content+"</div>");

        },
        error: (res) => {
          console.log("失敗"+res.responseText)
          $(".wrap").append("<div class='who'>aim_ai</div>");
          $(".wrap").append("<div class='ai_statement statement'>"+res.responseText+"</div>");

        }
    });
}else{
    Question(question_num);
    question_num++;
}

let wrap_html= $(".wrap").html();
localStorage.setItem('llm', wrap_html);

  $('html, body').animate({scrollTop:$(document).height()}, 'slow');//一番下までスクロール


});


$(document).on('click', '#delete_btn', function() {
  $(".wrap").text("");
  localStorage.removeItem('llm');
  localStorage.removeItem('question_num');
  question_num=0;
  Question(question_num);
  question_num++;
});
</script>