<% content_for :title do %>アカウント削除<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>
<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<h1>アカウント削除</h1>
