<% content_for :title do %>認証メールを送信しました<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>
<%= render 'shared/header' %>

<p>認証メールを送信しました。</p>
<p>24時間以内にメールを確認し登録を完了してください。</p>