<% content_for :title do %>お問い合わせ<% end %>
<% content_for :meta_tags do %>
  <%= display_meta_tags(:noindex => true) %>
<% end %>
<%= render 'shared/header' %>
<%= render 'shared/sidemenu' %>
<h1>お問い合わせを受け付けました</h1>
<p>ありがとうございます。担当者よりご連絡いたします。</p>