body{
  font-family: 'Arial', sans-serif;
}
a{
  text-decoration:none !important;
}

header{
  position: fixed;
  width:100%;
  height: 62px;
  left: 0px;
  top: 0px;
  z-index: 2000;
}
.Logo{
  margin-top: -15px;
  width: 50px;
  height:80px;
} 
.Logo-white{ 
  display:block;
}
.Logo-black{
  display:none;
}
.LogoTitle{
  position: absolute;
  width: 84px;
  height: 28px;
  left: 62px;
  top: 15px;   
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.NewUser_btn{
  left:165px;
  position: relative;
  width: 125px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  background-color: #6343FF;
  color: white;
  /*position: fixed;
  width: 120px;
  height: 29px;
  left: 250px;
  top: 15px;*/
}

.Login_btn{
  left:150px;
  position: relative;
  width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  background: #EF4056;
  color: white;
  /*background-color: #ecf021;
  color: #06325e;*/
}
/*
  position: fixed;
  width: 87px;
  height: 29px;
  top: 15px;
  background: #D0DF24;
*/
  /*position: absolute;*/
  /*left: 1180px;*/

.Logout_btn{
  display: none;
}
.NewAim_btn{
  position: fixed;
  width: 120px;
  height: 29px;
  top: 15px;
  right:250px;
  background: #D0DF24;
}
.SearchForm{
  position: fixed;
  left: 150px;
  top: 15px;
}
.SearchBox{
  width: 25vw;
  height: 29px;
  border: 1px solid #303030;
  box-sizing: border-box;
}
.SearchBtn{
  width: 10vw;
  height: 29px;
  border: 1px solid #303030;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.SearchForm{
  position: fixed;
  left: 150px;
  top: 15px;
}
.mobile-search-form{
  display: none;
  position: fixed;
  top:50px;
  width: 100%;
}
.mobile-search-form input{
  width: 100%;
  height:50px;
}


main{
  position: relative;
  width:80%;
  height: 100%;
  left: 266px;
  top: 62px;
  padding-top: 20px;
}

.Left{
position: fixed;
height: 1650px;
left: 0px;
top: 62px;
}
#stretch-btn{
  float:right;
  cursor: pointer;
}
#stretch-btn-open{
  display: none;
  float:right;
  cursor: pointer;
}
.design-dark{
  display: none;
}
.mypage_div{
  position: fixed;
  right: 250px;
  top: 30x;
}
.aim-new_div{
  position: fixed;
  right: 350px;
  top: 30px;
}





.aim-delete-btn{
  cursor: pointer;
}
.favorite-btn{
  width: 50px;
  height:50px;
  background: none!important;
}


.footer_content_wrap{
  padding: 20px;
}




/* スマートフォン用：画面幅が600px以下 */
@media only screen and (max-width: 600px) {
  .Logo{margin-left:10px;margin-top:-9px;}
   main{width: 100%;left:0;padding-top: 0;}
  .side-ads-wrap{display: none;}
  .ads-mobile{display: block;bottom: 0;position: fixed;}
  /*サイドメニュー*/
  .Left{display: none;}
  /*header*/
  .newAim-btn{display: none;}
  .goLLM_btn{display: none;}
  .goPlay_btn{display: none;}
  .mobile-menu-icon{display: block;}
  .Login_btn{left:0;width:70px;height:30px;font-size:12px;margin-left:5px;}
  .NewUser_btn{left:0;width:95px;height:30px;font-size:12px;margin-left:5px;}
  .header_tab_menu{display: flex;}
  /*top*/
  .aim_wrap{width: 100%!important; margin-left:0!important; margin-bottom:15px!important; padding:15px!important;}
  .aim_content_div{height: 60%!important;}
  .profile_wrap{width: 100%!important; border-radius:0!important;}
  /*aim作成/編集*/
  .create_edit_header .Logo-a{top:15px;left:15px;}
  .create_edit_header .head-wrap{padding: 8px 10px 8px;}
  .create_edit_header .items{top:15px;left:15px;}
  .aim_create_edit_wrap{top:35px; position: relative; }
  .previewArea{display: none;}
  .edit-input{width: 100%!important;}
  /*設定*/
  .setting_wrap{margin-left: 0!important;margin-right: 0!important;}
  /*マイページ*/
  .create_aims_wrap.tabcontent{width: 100%!important;padding: 0!important;}
  /*通知一覧*/
  .nc_list_content_wrap{width: 100%!important;margin-left:0!important;}
  /*アカウント作成*/
  .Newuser_wrap{width: 100%!important;margin-left:0!important;}
  /*ログイン*/
  .Login_wrap{width: 100%!important;margin-left:0!important;}
  /*play*/
  .content_wrap{width: 100%!important;padding: 15px!important;margin-left: 0!important;}
  .comments_wrap{width: 100%!important; height: fit-content!important; bottom:0!important;right:0!important;top:550px!important;}
  .comment_upload_form{width: 100%!important;height: 25%;}
  .comment_upload_input{width: 80%!important;font-size: 35px;height: 50px;}
}

/* タブレット用：画面幅が600px以上と900px以下 */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .side-ads-wrap{display: none;}
  .ads-mobile{display: block;bottom: 0;position: fixed;}
}

/* PC用：画面幅が901px以上 */
@media only screen and (min-width: 901px) {
  .ads-mobile{display: none;}
  .Left{width: 266px;}
}