body{
  color: #FFFFFF;
  background-color: #121920;
  /*height: 650px;*/
}
a{
  text-decoration:none !important;
}

header{
  position: fixed;
  /*width: 1360px;*/
  width:100%;
  height: 62px;
  left: 0px;
  top: 0px;
  background-color: #202020;
  z-index: 2000;
}
.Logo-a{
  position: absolute;
  width: 200px;
  height: 70x;
  left: 15px;
  top: 15px; 
} 

.Logo-black{
  display:none;
  width: 120px;
  height:45px;
  margin-top: -15px;
  margin-left: -35px;
}
.LogoTitle{
  position: absolute;
  width: 84px;
  height: 28px;
  left: 62px;
  top: 15px;   
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.NewUser_btn{
  position: fixed;
  width: 120px;
  height: 29px;
  left: 250px;
  top: 15px;
}

.Login_btn{
  /*position: absolute;*/
  position: fixed;
  width: 87px;
  height: 29px;
  /*left: 1180px;*/
  top: 15px;
  left:150px;
  background: #D0DF24;
}
.Logout_btn{
  display: none;
}
.NewAim_btn{
  position: fixed;
  width: 120px;
  height: 29px;
  top: 15px;
  right:250px;
  background: #D0DF24;
}
.SearchForm{
  position: fixed;
  left: 150px;
  /*right:430px;*/
  top: 15px;
}
.SearchBox{
  /*width: 394px;*/
  width: 25vw;
  height: 29px;
  background: #121212;
  border: 1px solid #303030;
  box-sizing: border-box;
  color: white;
}
.SearchBtn{
  /*width: 92px;*/
  width: 10vw;
  height: 29px;
  background: #D0DF24;
  border: 1px solid #303030;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main{
  background: #000000;
  /*position: absolute;*/
  position: relative;
  /*width: 1094px;
  width:73%;*/
  width:80%;
  height: 100%;
  left: 266px;
  top: 62px;
  padding-top: 20px;
}

.Left{
position: fixed;
width: 266px;
height: 1650px;
left: 0px;
top: 62px;

background: #212121;
}
#stretch-btn{
  float:right;
  cursor: pointer;
}
#stretch-btn-open{
  display: none;
  float:right;
  cursor: pointer;
}
.design-dark{
  display: none;
}
.mypage_div{
  position: fixed;
  right: 250px;
  top: 30x;
}
.aim-new_div{
  position: fixed;
  right: 350px;
  top: 30px;
}





.aim-delete-btn{
  cursor: pointer;
}

.update-date{
  color:black;
}

.favorite-btn{
  width: 50px;
  height:50px;
}

/* スマートフォン用：画面幅が600px以下 */
@media only screen and (max-width: 600px) {
  .ads-PC{display: none;}
  .ads-mobile{display: block;}
}

/* タブレット用：画面幅が600px以上と900px以下 */
@media only screen and (min-width: 601px) and (max-width: 900px) {

}

/* PC用：画面幅が901px以上 */
@media only screen and (min-width: 901px) {
  .ads-mobile{display: none;}
}