/* ライトモードのスタイル */
body.light-mode {background-color: white;color: #333;transition: background-color 0.3s ease;}
/* ダークモードのスタイル */
body.dark-mode {background-color: #333;color: #fff;transition: background-color 0.3s ease;}

body.light-mode main {background-color: #eee;color: #333;}
body.dark-mode main {background-color: #555;color: #fff;}

body.light-mode header {background-color: white;color: #333;}
body.dark-mode header {background-color: #0F0F0F;color: #fff;}
.nc_wrap:hover{background-color: #F6F8FA;}

/*サイドメニュー*/
body.light-mode .Left {background-color: #eee;color: #333;}
body.dark-mode .Left {background-color: #333;color: #fff;}
body.light-mode .Left a ,.Left span ,.Left .copyright{color: #333;}
body.dark-mode .Left a ,.Left span ,.Left .copyright{color: #fff;}
/*ユーザーランキング一覧*/
body.light-mode .cont:hover{background-color: rgb(99, 99, 73);}
body.dark-mode .cont:hover{background-color: rgb(68, 68, 45);}

/*top*/
body.light-mode .aim_wrap:hover {background-color: #94a594;}
body.dark-mode .aim_wrap:hover {background-color: #94a594;}
body.light-mode .aim_title{color: black;}
body.dark-mode .aim_title{color: white;}
body.light-mode .aim_content{color: black;}
body.dark-mode .aim_content{color: white;}

/*通知*/
.nc_wrap:hover{background-color: #F6F8FA;}
.nc_a_wrap{color: black;}


/*アカウント作成*/
.Newuser{background: #F0F7FB;box-shadow: 33px 31px 4px rgba(0, 0, 0, 0.25); }
.Newuser2{background:white;}
.Form{background: white;}
.SignIn{color: black; }
.inputTitle{color: black; }
input{background: white; border: 0.50px #C5BCBC solid}
.LoginBtn{color:white;}
.Oneforall{color: white; }
.LoginBtnTxt{color: #FEFEFE; }


/*ログイン*/
.Login{background: #F0F7FB;box-shadow: 33px 31px 4px rgba(0, 0, 0, 0.25); }
.Login2{background:white;}
.Form{background-color: white;}
.Mailadress{color: black; }
.MailInput{background: white; border: 0.50px #C5BCBC solid}
.PasswordInput{background: white; border: 0.50px #C5BCBC solid}
.Password{color: black; }
.MemolyPassword{color: black; }
.SignIn{color: black; }
.LoginBtn{background: #6343FF; color: white;}
.LoginBtnTxt{color: #FEFEFE; }
.Oneforall{color: black; }


/*設定*/
.card-header{background-color: #E4EFFF;}
.form-control  {
  background-color: var(--color-surface);
  border-radius: 8px;
  color: var(--color-text-high-emphasis);
}
/*削除ダイアログ*/
.dialog-overlay {background: rgba(0, 0, 0, 0.7);}
.dialog-box {background: white;}

/*Play*/
.comments_wrap{background-color: rgb(188, 207, 207);}