
.Login{
  /*width: 1440px; 
  height: 1024px; */
  width:50%;
  /*position: relative; */
  position: absolute;
  background: #F0F7FB;
  box-shadow: 33px 31px 4px rgba(0, 0, 0, 0.25); 
}
.Login2{
  padding: 56px 48px;
  background:white;
}
.Form{
  /*width: 676px; 
  height: 593px; 
  left: 387px; 
  top: 178px; */
  width: 100%; 
  height: 593px; 
  left: 387px; 
  top: 38px;

  /*position: absolute; */
  /*background: #DEEFFF; */
  background-color: white;
  
  backdrop-filter: blur(21px)
}
.Mailadress{
  left: 61px; 
  top: 97px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}
.MailInput{
  /*width: 551px;height: 58px; */
  width: 75%;
  min-height: 44px;
  left: 63px; 
  top: 141px; 
  position: absolute; 
  background: white; 
  border: 0.50px #C5BCBC solid
}

.PasswordInput{
  /*width: 551px;height: 58px;*/
  width:75%;
  min-height: 44px;
  left: 63px; 
  top: 312px; 
  position: absolute; 
  background: white; 
  border: 0.50px #C5BCBC solid
}
.Password{
  left: 61px; 
  top: 268px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}
.MemolyPassword{
  left: 86px; 
  top: 395px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}
.PasswordFoget{
  left: 197px; 
  top: 268px; 
  width: max-content;
  position: absolute; 
  color: #1143F4; 
  font-size: 16px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}

.SignIn{
  width: 377px; 
  height: 38px; 
  left: 61px; 
  top: 34px; 
  position: absolute; 
  color: black; 
  font-size: 24px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}
.LoginBtn{
  font-size: 20px;
  /* width: 75%; */
  width: 321px;  
  height: 57px; 
  /*left: 63px; 
  top: 253px; */
  left: 110px; 
  top: 75%;
  /*bottom: 20%;  */
  position: absolute; 
  background: #6343FF; 
  border-radius: 10px;
  cursor: pointer;
  color: white;
  line-height:28px;
}
.LoginBtnTxt{
  /*width: 114px; */
  width: 75%; 
  left: 281px; 
  top: 411px; 
  position: absolute; 
  color: #FEFEFE; 
  font-size: 24px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word
}
.Oneforall{
  left: 448px; 
  top: 126px; 
  position: absolute; 
  color: black; 
  font-size: 32px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  line-height: 38.05px; 
  letter-spacing: 5.28px; 
  word-wrap: break-word
}