main{
  width: 100% !important;
  position: static;
}

.content_wrap{
  height: fit-content;
  width: 75%;
  padding: 50px;
  margin-left: 5px;
}



.live_wrap{
}
.live_start_btn{
  font-size:30px;
}
.video{
  background-color: black;
  width:500px ;
  height:500px ;
}

.movie_wrap{
}

.comments_wrap{
  right: 5px;
  top:50px;
  width: 250px;
  height:95%;
  position: fixed;
  background-color: rgb(188, 207, 207);
}
.comment_upload_form{
  position: fixed;
  bottom:0;
}
.input{
  width: 250px;
}
.chat_user{
  color: red;
}