html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  tab-size: 4;
}
*, ::before, ::after {
  box-sizing: inherit;
}

.Newuser{
  width: 50%; 
  min-width: 50%;
  position: absolute;
}
.Newuser2{
  padding: 56px 48px;
}
.Form{
  width: 100%; 
  height: 593px; 
  left: 387px; 
  top: 38px;
  backdrop-filter: blur(21px)
}
.SignIn{
  width: 377px; 
  height: 38px; 
  left: 61px; 
  top: 0px; 
  position: absolute; 
  font-size: 24px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}
.inputTitle{
  top: 100px;
  left: 61px; 
  position: absolute; 
  font-size: 16px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  word-wrap: break-word
}
input{
  width: 75%;
  min-height: 44px;
  left:50px;
  position: absolute; 
  border: 0.50px #C5BCBC solid
}
.Name{
  top: 100px; 
}
.NameInput{
  top: 130px;
}
.Mailadress{
  top: 200px; 
}
.MailInput{
  top: 230px; 
}
.Password{
  top: 300px; 
}
.PasswordInput{
  top: 330px; 
}
.Password2{
  top: 400px; 
}
.PasswordInput2{
  top: 430px; 
}
.LoginBtn{
  font-size: 20px;
  width: 345px;  
  height: 57px; 
  left: 43px; 
  top: 500px; 
  position: absolute; 
  background: #6343FF; 
  border-radius: 10px;
  cursor: pointer;
}
.Oneforall{
  left: 448px; 
  top: 126px; 
  position: absolute; 
  font-size: 32px; 
  font-family: Irish Grover; 
  font-weight: 400; 
  line-height: 38.05px; 
  letter-spacing: 5.28px; 
  word-wrap: break-word
}
.LoginBtnTxt{
  width: 176px; 
  left: 248px; 
  top: 623px; 
  position: absolute; 
  font-size: 24px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word
}