.menu-wrap{
  margin-bottom: 200px;
}

.card-header{
  background-color: #E4EFFF;
}
.form-control  {
  background-color: var(--color-surface);

    border-radius: 8px;
    color: var(--color-text-high-emphasis);
    cursor: text;
    display: block;
    font-size: var(--font-size-body-1);
    line-height: var(--line-height-body-dense);
    padding: 8px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}
/*カスタムCSSを使用上書き*/
.nameChange.form-control {
  padding: 8px 12px !important;
  font-size: 15px;
}
.MailChange.form-control {
  padding: 8px 12px !important;
  font-size: 15px;
}
.PasswordChange.form-control {
  padding: 8px 12px !important;
  font-size: 15px;
}
.NewPasswordChange.form-control {
  padding: 8px 12px !important;
  font-size: 15px;
}

.MailChange.form-control div {
  margin-left:0;
}

button.btn{
  height:35px;
  margin-top: 20px;
  font-size: 15px;
}

.icon-edit-form{
  margin-left: 20px;
}
.setting_icon_img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.us-ImageSelect_item{
  width: 100px;
}
#to_gravatar_link_span{
  font-size:15px;
}