.content_wrap{
  height:fit-content;
  margin: 50px;
  padding: 20px;
  width: 65%;
}

.aim_wrap{
  height:130px;
  width: 100%;
  margin: 5px;
  padding: 20px;
  display: flex;
}
.aim_wrap:hover {
  background-color: #F6F8FA;
}

.aim_img_div{
  width: 25%;
  height: 100%;
}
.thumbnail-img{
  float: left;
  width: 100%;
  height: 100%;
}

.aim_title_content_div{
  width: 60%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.aim_title_div{
  width: 100%;
}
.aim_title{
  float: left;
  color: black;
}
.aim_content_div{
  width: 100%; /* 任意の幅を指定 */
  height: 35%; 
  
  overflow: hidden;
  text-overflow: ellipsis; /* 切り詰めた部分に省略記号 (...) を表示 */
}
.aim_content{
  color: black;
}
.newAim-btn{
  width: 150px;
  height: 40px;
  font-size: 20px;
  /*background-color: #29b0ff;*/
  background-color:#9600ff;
  color: #F6F8FA;
}
.aim_updated_div{
  float: right;
}