<p><%= @resource.email %> 様。</p>
<p>サインイン試行の失敗回数が多すぎるため、アカウントはロックされました。</p>
<p>アカウントのロックを解除するには、以下のリンクをクリックしてください:</p>
<p><%= link_to 'アカウントのロックを解除', unlock_url(@resource, unlock_token: @token) %></p>
